<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Server Error</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>There Was An Error With The Server</h1>
    <p>Please Try Again Later</p>
    <p>{%= errors %}</p>
</body>
</html>